<h1>New Catalogue Artwork</h1>


  <% if @artworks.present? %>
    <% @artworks.each do |artwork| %>
      <div class="panel panel-success">
        <%= render partial: "form_artwork", :locals => { artwork: artwork }%>
      </div>
    <% end %>
  <% end %>



<div class= "panel panel-danger">
  <%= form_for @artwork, url: catalogue_artworks_path(@parent_object)	do |f| %>
    <%= f.label :image, "Upload artworks:" %>
    <%= f.file_field :image, multiple: true, name: "artwork[image]" %>
    <%= f.hidden_field :image_cache %>
  <% end %>
</div>

<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress" style="border: 1px solid black;">
      <div class="bar" style="width: 0%; background-color: green; height: 20px;" ></div>
    </div>
  </div>
</script>

