<%#= simple_form_for(setup_exhibition(exhibition)) do |f| %>
    <tr>
        <%#= f.input_field :category, as: :hidden, value: 'academic'%>
        <td>
            <%= f.input_field :_destroy, as: :hidden %>
            <%= link_to 'Delete', '#', class: 'remove_record'%>
        </td>
        <td><%= f.input :category, label: false %></td>
        <td><%= f.input :title, label: false %></td>
        <!--<td><%#= f.input :space, label: false %></td>-->
        <td>
            <%= f.simple_fields_for :spaces do |s| %>
                <%=s.input :name, label: false %>
            <% end %>
        </td>
        <td>
            <%= f.input :start_date, label: false, as: :date, include_blank: true, :end_year => 1910, :start_year => Time.now.year + 10%>~
    
            <%= link_to 'toggle_detail_date', '#', class: 'toggle_date_fields'%>
            <td>
            <% if f.object.end_date? %>
                <div id="hidden_field"%>
                    <%= f.input :end_date, label: false, as: :date, include_blank: true %>
                </div>
    
            <% else %>
                <div id="hidden_field" class="hidden"%>
                    <%= f.input :end_date, label: false, as: :date, include_blank: true %>
                </div>
            <% end %>
            <%= link_to 'toggle_end_date', '#', class: 'toggle_hidden_fields'%>
        </td>
    </tr>
<%#end%>