<%= simple_form_for(@artist) do |f| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>
      <ul>
      <% @artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>기본 정보</h3>
  <div class="field" col="3">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :role %><br>
    <%= f.text_area :role %>
  </div>
  
  <table class='table'>
    <thead>
      <tr>
        <th></th>
        <th>Artist Name</th>
        <th>Artist Role</th>
      </tr>
    </thead>
    <tbody class="fields">
      <%= f.simple_fields_for :contacts do |builder| %>
        <%= render 'contact', f: builder %>
      <% end %>
    </tbody>
  </table>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to_add_row('Add Artist', f, :contacts, class: 'btn btn-primary') %>
  </div>
<% end %>

