<%= simple_form_for(setup_artist(@artist)) do |artist_form| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>
      <ul>
      <% @artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>기본 정보</h3>
  <div class="field" col="3">
    <%= artist_form.label :name %><br>
    <%= artist_form.text_field :name %>
  </div>
  <div class="field">
    <%= artist_form.label :role %><br>
    <%= artist_form.text_area :role %>
  </div>
  
  <div class="contact_field_static">
    <%= artist_form.fields_for :contacts do |contact_fields| %>
      <%= contact_fields.label :category, "이메일" %>
      <% hidden_field(:category, value: "email") %>
      <%= contact_fields.text_field :content %>
    <% end %>
  </div>
  
  <기본정보>
  <div class="contact_field">
    <%= artist_form.fields_for :contacts do |contact_fields| %>
      <%= contact_fields.select(:category) do %>
        <% [['이메일', 'email'], ['휴대폰', 'phone']].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>
      <%= contact_fields.text_field :content %>
      <button class="delete-contact-button">X</button>
    <% end %>
  </div>
  
    <button class="add-contact-button">추가</button><br>
  

  <div class="actions">
    <%= artist_form.submit %>
  </div>
<% end %>


<script>
  $('.add-contact-button').click(function(ev){
    ev.preventDefault()
    $lastContactFieldCategory = $('select[name="artist[contacts_attributes][2][category]"]:last-of-type').clone()
    $lastContactFieldCategory.val("")
    $lastContactFieldContent = $('input[name="artist[contacts_attributes][2][content]"]:last-of-type').clone()
    $lastContactFieldContent.val("")
    $(".contact_field").append($lastContactFieldCategory, $lastContactFieldContent)
  })
</script>