<%= form_for(setup_artist(@artist)) do |artist_form| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>
      <ul>
      <% @artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" col="3">
    <%= artist_form.label :name %><br>
    <%= artist_form.text_field :name %>
  </div>
  <div class="field">
    <%= artist_form.label :role %><br>
    <%= artist_form.text_area :role %>
  </div>
  <div class="field">
    <%= artist_form.label :academic %><br>
    <%= artist_form.text_area :academic %>
  </div>
  
  <%= artist_form.fields_for :contacts do |contact_fields| %>
    category  : <%= contact_fields.text_field :category %> <br>
    content : <%= contact_fields.text_field :content %>
  <% end %>
  
  <%= artist_form.fields_for :histories do |history_fields| %>
    category  : <%= history_fields.text_field :category %>
    title : <%= history_fields.text_field :title %>
    title : <%= history_fields.text_field :title %>
  <% end %>
  
  <div class="actions">
    <%= artist_form.submit %>
  </div>
<% end %>
