<%= simple_form_for(@artist) do |f| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>
      <ul>
      <% @artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>기본 정보</h3>
  <div class="field" col="3">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :role %><br>
    <%= f.text_area :role %>
  </div>
  
  <table class='table'>
    <thead>
      <tr>
        <th></th>
        <th>Contact :category</th>
        <th>Contact :content</th>
      </tr>
    </thead>
    <tbody class="fields_contacts">
      <%= f.simple_fields_for :contacts do |builder| %>
        <%= render 'contact', f: builder %>
      <% end %>
    </tbody>
  </table>
  <%= link_to_add_row('Add Contact', f, :contacts, class: 'btn btn-primary', type: "fields_contacts") %>

  
  <table class='table'>
    <thead>
      <tr>
        <th></th>
        <th>History :start_date</th>
        <th>History :title</th>
        <th>History :detail</th>
        <th>History :status</th>
      </tr>
    </thead>
    <tbody class="fields_histories">
      <%= f.simple_fields_for :histories do |builder| %>
        <%= render 'history', f: builder %>
      <% end %>
    </tbody>
  </table>
  <%= link_to_add_row('Add History', f, :histories, class: 'btn btn-primary', type: 'fields_histories') %>


  <div class="form-actions">
    <br><br><%= f.button :submit %>
  </div>
<% end %>

