<%= simple_form_for(setup_artist(@artist)) do |f| %>
<%=f.object.errors%>
  <%= render 'layouts/error_messages', object: f.object %>  

  <h3>기본 정보</h3>
  <div class="field" col="3">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
  </div>
  <div class="field">
    <%= f.label :role %><br>
    <%= f.text_area :role %><br>
  </div>
  <%= f.simple_fields_for :contacts do |builder| %>
    <% if builder.object.category == "email" or builder.object.category == "phone" %>
      <div class="field">
        <%= builder.object.category %>
        <%= builder.hidden_field :category, value: builder.object.category %>
        <%= builder.input :content, label: false %>
      </div>
    <% end %>
  <% end %>
    <table class='table'>
      <h3>SNS</h3>
      <thead>
        <tr>
          <th></th>
          <th>Contact :category</th>
          <th>Contact :content</th>
        </tr>
      </thead>
      <tbody class="field_contacts">
      <%= f.simple_fields_for :contacts do |builder| %>
        <% if builder.object.category != "email" and builder.object.category != "phone"%>
          <%= render 'contact', f: builder %>
        <% end %> 
      <% end %>
      </tbody>
    </table>
    <%= link_to_add_row('Add Contact', f, :contacts, class: 'btn btn-primary', label: "field_contacts") %>
  
  <table class='table'>
    <thead>
      <tr>
        <th>History</th>
        <th>History :start_date</th>
        <th>History :title</th>
        <th>History :detail</th>
        <th>History :status</th>
      </tr>
    </thead>
    <tbody class="field_history_academics">
      <%= f.simple_fields_for :histories do |builder| %>
        <%= render 'history', f: builder %>
      <% end %>
    </tbody>
  </table>
  <%= link_to_add_row('Add History', f, :histories, class: 'btn btn-primary', label: 'field_history_academics') %>


  <div class="form-actions">
    <br><br><%= f.button :submit, "save" %>
  </div>
<% end %>


