<%= simple_form_for(setup_artist(@artist)) do |artist_form| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>
      <ul>
      <% @artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>기본 정보</h3>
  <div class="field" col="3">
    <%= artist_form.label :name %><br>
    <%= artist_form.text_field :name %>
  </div>
  <div class="field">
    <%= artist_form.label :role %><br>
    <%= artist_form.text_area :role %>
  </div>
  
  <기본정보>
  <div class="contact_field">
    <%= artist_form.fields_for :contacts do |contact_fields| %>
      <%= contact_fields.label :contacts, "연락처" %><br>
      <%= contact_fields.select(:category) do %>
        <% [['이메일', 'email'], ['휴대폰', 'phone'], ['직접입력', 'etc']].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>
      <div class="field">
        <%= contact_fields.input :content, as: :array %>
        <button class="add-contact-button">추가</button><br>
      </div>
    <% end %>
  </div>
  
  <학력>
  <div class="field">
  <%= artist_form.fields_for :histories do |history_fields| %>

    분류  : <%= history_fields.text_field :category %><br>
    title : <%= history_fields.text_field :title %><br>
    title : <%= history_fields.text_field :content %>
  <% end %>
  </div>
  

  <div class="actions">
    <%= artist_form.submit %>
  </div>
<% end %>


<script>
  $('.add-contact-button').click(function(ev){
    ev.preventDefault()
    $lastContactField = $('input[name="artist[contacts_attributes][0][content][]"]:last-of-type').clone()
    $lastContactField.val("")
    $(".input.artist_contacts_content").append($lastContactField)
  })
</script>