
<div class="col-lg-4">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>작가 정보</h5>
    </div>
    <div class="ibox-content">
      <% if @artist.present? %>
        <div>
          <h3 class="m-b">기본 정보</h3>
          <p><strong>이름</strong> <%=@artist.name%></p>
        </div>
        <div>
          <h3 class="m-b">전시 경력</h3>
          <p><strong>개인전</strong></p>
          <ul>
            <% @artist.exhibitions.where("exhibitions.category = ?", "single").each do |exhibition|%>
              <li><p><%=exhibition.start_date.strftime("%Y")%> <%=exhibition.title %>, <%exhibition.spaces.all.each do |space|%> <%=space.name %> <%end %></p></li>
            <% end %>
          </ul>
          <p><strong>그룹전</strong></p>
          <ul>
            <% @artist.exhibitions.where("exhibitions.category = ?", "group").each do |exhibition|%>
              <li><p><%=exhibition.start_date.strftime("%Y")%> <%=exhibition.title %>, <%exhibition.spaces.all.each do |space|%> <%=space.name %> <%end %></p></li>
            <% end %>
          </ul>
          <hr>
        </div>
        <div>
          <h3 class="m-b">학력</h3>
          <ul>
            <% @artist.histories.where("histories.category = ?", "academic").each do |history|%>
              <li><p><%=history.start_date.strftime("%Y")%> <%=history.title%>, <%=history.detail %>, <%=history.status%></p></li>
            <% end %>
          </ul>
        </div>
        <div>
          <h3 class="m-b">수상 레지던시</h3>
          <ul>
            <% @artist.histories.where("histories.category = ?", "award").each do |history|%>
              <li><p><%=history.start_date.strftime("%Y")%> <%=history.title%>, <%=history.detail%></p></li>
            <% end %>
          </ul>
        </div>
        <div class="pull-right">
          <%= link_to content_tag(:span, "", class: "fa fa-pencil-square-o")+"수정", edit_artist_path(@artist), class: "btn btn-xs btn-outline btn-primary" %>
        </div>      
      <% else%>
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <p class="text-center">  
              현재 등록된 아티스트가 없습니다.
            </p>
            <hr>
          <div class="pull-right">
            <%= link_to content_tag(:span, "", class: "fa fa-pencil-square-o")+"추가", new_artist_path, class: "btn btn-xs btn-outline btn-primary" %>
          </div>             
          </div>
        </div>
      <% end%>
    </div>
  </div>
</div>
            
<div class="col-lg-4">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>회원 정보</h5>
    </div>
    <div class="ibox-content">
      <div>
        <h3 class="m-b">기본정보</h3>
        <p><strong><%=current_user.email%></strong></p>
        <hr>
        <p class="text-right"><%=link_to "사용자 정보수정", edit_user_registration_path %></p>
        <ul>
          <li><p>0000 길고 긴 전시 제목이 들어가는 경우를 테스트하기 위해 길고 긴 전시명을 넣었습니다, 장소</p></li>
          <li><p>0000 제목, 장소</p></li>
          <li><p>0000 제목, 장소</p></li>
        </ul>
        <p><strong>그룹전</strong></p>
        <ul>
          <li><p>0000 제목, 장소</p></li>
          <li><p>0000 제목, 장소</p></li>
          <li><p>0000 제목, 장소</p></li>
        </ul>
        <hr>
      </div>
      <div>
        <h3 class="m-b">학력</h3>
        <ul>
          <li><p>0000 00대학교 0000 졸업</p></li>
          <li><p>0000 00대학교 0000 졸업</p></li>
        </ul>
      </div>
    </div>
  </div>
</div> 
<br>
