<p id="notice"><%= notice %></p>
<p>
  <strong>이름:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>직업:</strong>
  <%= @artist.role %>
</p>


  <table class='table'>
    <thead>
      <tr>
        <th></th>
        <th>Contact Category</th>
        <th>Contact Content</th>
      </tr>
    </thead>
    <tbody class="fields">
      <% @artist.contacts.each do |contact| %>
        <tr>
         <td></td>
         <td><%= contact.category %><br></td>
         <td><%= contact.content %><br></td>
        </tr>
      <%end%>
    </tbody>
  </table>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
