<%= form_for [parent_object, artwork], html: {class: "artwork_group_form", enctype: "multipart/form-data"} do |f| %>
  
  <%= render 'layouts/error_messages', object: f.object %>


  <div class="field" col="3">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <% if artwork.image.present? %>
    <div id="image-preview">
      <%= image_tag artwork.image.url(:thumb) %><br/>
    </div>
    <%= link_to '작품이미지 삭제/복구', '#', class: 'toggle_remove_image'%>
    <%= f.hidden_field :remove_image, value: false%>

  <% end %>
  
  <div class="field">
    <%= f.hidden_field :image_cache %>
    <%= f.file_field :image, label: false, accept: 'image/*', name: "artwork[image]", class: 'image_edit'%>

    <div class="image-edit-preview">
      <style>
  		.image-edit-preview img{
  			width: 100px;
  		}
  	  </style>
    </div>
  </div>

    <script id="edit-upload" type="text/x-tmpl">
      <div class="upload">
        <div class="progress">
          <div class="bar"></div>
        </div>
        {%=o.name%}
      </div>
    </script>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </div>
  <div class="field">
    <%= f.text_field :size, as: :array %>
    <button class="add-size-button">추가</button><br>
  </div>
  <div class="field">
    <%= f.label :unit %><br>
    <%= f.text_area :unit %>
  </div>
  <div class="field">
    <%= f.label :material %><br>
    <%= f.text_area :material %>
  </div>
  <div class="field">
    <%= f.label :created_date %><br>
    <%= f.date_select :created_date, start_year: 1800, end_year: Date.current.year, discard_month: true, discard_day: true, include_blank: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
