<%= simple_form_for @artwork, html: {class: "artwork_group_form", enctype: "multipart/form-data"} do |f| %>
  <% if @artwork.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artwork.errors.count, "error") %> prohibited this artwork from being saved:</h2>
      <ul>
      <% @artwork.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" col="3">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%#= f.label :image %><br>
    <%#= f.input :image, label: false, as: :file, accept: 'image/*', multiple: true %>
    <%#= f.file_field :image, label: false, accept: 'image/*'%>
  </div>
  <div class="form-group">
    <input type="file" name="image" accept="images/*" />
  </div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </div>
  <div class="field">
    <%= f.input :size, as: :array %>
    <button class="add-size-button">추가</button><br>
  </div>
  <div class="field">
    <%= f.label :unit %><br>
    <%= f.text_area :unit %>
  </div>
  <div class="field">
    <%= f.label :material %><br>
    <%= f.text_area :material %>
  </div>
  <div class="field">
    <%= f.label :created_date %><br>
    <%= f.date_select :created_date, start_year: 1800, end_year: Date.current.year, discard_month: true, discard_day: true, include_blank: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  $('.add-size-button').click(function(ev){
    ev.preventDefault()
    $lastSizeField = $('input[name="artwork[size][]"]:last-of-type').clone()
    $lastSizeField.val("")
    $(".input.artwork_size").append($lastSizeField)
  })
</script>