
<h1>Catalogue Artwork Index</h1>

  <% @artworks_artist.each do |artwork| %>
    <div class="panel panel-info">
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#artwork_<%=artwork.id%>">
      <%= image_tag artwork.image.url(:thumb) %>
      </button>
      <td><%= link_to "Edit", edit_artwork_path(artwork) %></td>
      <%#= render partial: "form_artwork", :locals => { artwork: artwork }%>
    </div>

    <!-- Modal -->
    <div id="artwork_<%=artwork.id%>" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <%= image_tag artwork.image.url(:large) %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    
      </div>
    </div>  

  <% end %>

  
<!--<h1>Artist Artwork Index</h1>-->
<!--<%# @artworks_artist.each do |artwork| %>-->
<!--  <div class="panel panel-info">-->
<!--    <%#= image_tag artwork.image.url(:thumb) %>-->
    <%#= render partial: "form_artwork", :locals => { artwork: artwork }%>
<!--  </div>-->
<!--<%# end %>-->
 
<%#= link_to "Artist Artwork", new_artwork_path %>