<h1>Catalogue Artwork Index</h1>

  <% @artworks.each do |artwork| %>
    <div class="panel panel-info">
      <%if @parent_object.class.name == "Catalogue "%>
        <%= render partial: "form_artwork", :locals => { artwork: artwork }%>
      <% else %>
        <%= render partial: "form", :locals => {artwork: artwork } %>
      <% end %>
    </div>
  <% end %>
  

<div class="panel panel-danger">
  <%= form_for Artwork.new do |f| %>
    <%= f.label :image, "Upload artworks:" %>
    <%= f.file_field :image, multiple: true, name: "artwork[image]" %>
    <%= f.hidden_field :image_cache %>
  <% end %>
</div>

<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress" style="border: 1px solid black;">
      <div class="bar" style="width: 0%; background-color: green; height: 20px;" ></div>
    </div>
  </div>
</script>
 
<%= link_to "New artwork", new_artwork_path %>