<%= simple_form_for(setup_artist(@artist)) do |artist_form| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>
      <ul>
      <% @artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>기본 정보</h3>
  <div class="field" col="3">
    <%= artist_form.label :name %><br>
    <%= artist_form.text_field :name %>
  </div>
  <div class="field">
    <%= artist_form.label :role %><br>
    <%= artist_form.text_area :role %>
  </div>
  
  <table class='table'>
    <thead>
      <tr>
        <th></th>
        <th>Task Name</th>
        <th>Completed</th>
        <th>Due</th>
      </tr>
    </thead>
    <tbody class="fields">
      <%= f.simple_fields_for :tasks do |builder| %>
        <%= render 'task', f: builder %>
      <% end %>
    </tbody>
  </table>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to_add_row('Add Task', f, :tasks, class: 'btn btn-primary') %>
  </div>
<% end %>


<script>
  $('.add-contact-button').click(function(ev){
    ev.preventDefault()
    $lastContactFieldCategory = $('select[name="artist[contacts_attributes][0][category]"]:last-of-type').clone()
    $lastContactFieldCategory.val("")
    $lastContactFieldContent = $('input[name="artist[contacts_attributes][0][content]"]:last-of-type').clone()
    $lastContactFieldContent.val("")
    $(".contact_field").append($lastContactFieldCategory, $lastContactFieldContent)
  })
</script>