<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
    <h3>로그인</h3>
    <p>웹 카탈로그 베타버전 제작을 위한 웹사이트입니다.</p>    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "m-t") do |f| %>
    
      <div class="form-group">
        <%#= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "E-mail" %>
      </div>
    
      <div class="form-group">
        <%#= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Password" %>
      </div>
    
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "자동로그인 활성화" %>
        </div>
      <% end -%>
    
        <%= f.submit "로그인", class: 'btn btn-primary block full-width m-b'%>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>