        <div class="row p-w-md">
          <h3>기본 정보</h3>
        </div>
        <div class="row m-b">
          <%= artist_builder.label :name, "작가 이름", class: "m-l-lg col-lg-2 col-md-2 control-label"%><br>
          <div class="col-lg-8 col-md-8">
            <%= artist_builder.text_field :name, placeholder: "작가 이름", class: "form-control"%>
          </div>
        </div>
        
      
        <%= artist_builder.simple_fields_for :contacts do |contact_builder| %>
          <% if contact_builder.object.category == "email" or contact_builder.object.category == "phone" %>
            <div class="row m-b">
              <%= contact_builder.label :category, contact_builder.object.category, class: "m-l-lg col-lg-2 col-md-2 control-label"%><br>
              <%= contact_builder.hidden_field :category, value: contact_builder.object.category %>
              <div class="col-lg-8 col-md-8">
                <%= contact_builder.text_field :content, placeholder: contact_builder.object.category, class: "form-control"%>
              </div>
            </div>
          <% end %>
        <% end %>
        
        <div class="hr-line-dashed"></div>
        
        <div class="row">
          <div class="col-lg-6 border-right clearfix">
            <table class="row">
              <div class="row p-w-md">
                <h3>SNS</h3>
              </div>            
              <tbody class="field_contacts_artist">
              <%= artist_builder.simple_fields_for :contacts do |builder| %>
                <% if builder.object.category != "email" and builder.object.category != "phone"%>
                  <%= render 'contact_artist', f: builder %>
                <% end %> 
              <% end %>
              </tbody>
            </table>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <p class="text-center">          
                  <%= link_to_add_row_category('+ 입력란 추가하기', artist_builder, :contacts, class: '', label: "field_contacts_artist", category: 'artist') %>
                </p>
              </div>
            </div>
            
            <div class="hr-line-dashed"></div>
          
            <table class="row">
              <div class="row p-w-md">
                <h3>학력</h3>
              </div>
              <tbody class="field_history_academics">
                <%= artist_builder.simple_fields_for :histories, artist_builder.object.histories.where("category == 'academic'") do |builder| %>
                  <%= render 'history_academic', f: builder %>
                <% end %>
              </tbody>
            </table>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <p class="text-center">          
                  <%= link_to_add_row_category('+ 입력란 추가하기', artist_builder, :histories, class: '', label: 'field_history_academics', category: 'academic') %>
                </p>
              </div>
            </div>   
        </div>      
      
      
      <div class="col-lg-6 clearfix">
        <table class='row'>
          <div class="row p-w-md">
            <h3>전시경력</h3>
          </div>          
          <tbody class="field_exhibitions">
            <%= artist_builder.simple_fields_for :exhibitions do |builder| %>
              <% if builder.object.catalogues.present? %>
                <%= render 'exhibition_artist_catalogue', f: builder.object%>
              <% else %>
                <%= render 'exhibition_artist', f: builder_exhibition(builder) %>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <p class="text-center"> 
              <%= link_to_add_row_nested_category('+ 입력란 추가하기', artist_builder, :exhibitions, buildhelper: "builder_exhibition", class: '', label: 'field_exhibitions', category: 'artist') %>
            </p>
          </div>
        </div>
        
        <div class="hr-line-dashed"></div>
        
        <table class="row">
          <div class="row p-w-md">
            <h3>수상/레지던시</h3>
          </div>
          <tbody class="field_history_awards">
            <%= artist_builder.simple_fields_for :histories, artist_builder.object.histories.where("category = 'award'") do |builder| %>
              <%= render 'history_award', f: builder %>
            <% end %>
          </tbody>
        </table>
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <p class="text-center">           
              <%= link_to_add_row_category('+ 입력란 추가하기', artist_builder, :histories, class: '', label: 'field_history_awards', category: 'award') %>
            </p>
          </div>
        </div>       
      
      </div>
      
      

      
      