<%= simple_form_for (setup_catalogue(@catalogue)) do |catalogue_builder| %>
  <%=javascript_tag do %>
    <!--alert("");-->
  <% end %>

  <%= render 'layouts/error_messages', object: catalogue_builder.object %>  

  <div class="panel panel-success">
    <div class="panel-heading">
      <h5>1단계: 전시정보입력 :: Exhibition</h5>
    </div>
    <div class="panel-body">
      <div class="field" col="3">
        <%= catalogue_builder.label :title, "도록 제목" %><br>
        <%= catalogue_builder.text_field :title %>
      </div>
      <div class="field">
        <%= catalogue_builder.label :description, "도록 설명" %><br>
        <%= catalogue_builder.text_area :description %>
      </div>
      
      
      <table class='table'>
        <thead>
          <tr>
            <th>전시제목 :title</th>
            <th>전시종류 :category</th>
            <th>전시시작 :start_date</th>
            <th>전시종료 :end_date</th>
          </tr>
        </thead>
        <tbody class="field_history_academics">
          <%= catalogue_builder.simple_fields_for :exhibitions do |exhibition_builder| %>
            <%= render 'exhibition_catalogue', f: exhibition_builder %>


        </tbody>
      </table>
    </div>
  </div>
  
            <div class="panel panel-success">
              <div class="panel-heading">
                <h5>2단계: 작가정보입력 :: Artist</h5>
              </div>
              <div class="panel-body">
            
                <%= catalogue_builder.simple_fields_for :artist, (setup_artist(@artist)) do |artist_builder| %>
                  <%= render 'artist', artist_builder: artist_builder %>
                <% end %>
              </div>
            </div>
            
            <div class="panel panel-success">
              <div class="panel-heading">
                <h5>3단계: 전시장 정보입력 :: Space</h5>
              </div>
              <div class="panel-body">
                <table class='table'>
                  <h4>3단계: 전시장 정보입력 :: Space</h4>
                  <thead>
                    <tr>
                      <th>장소명 :name</th>
                      <th>주소 :location</th>
                      <th>연락처 :Contact</th>
                      <th>웹사이트 :Contact</th>
                    </tr>
                  </thead>
                  <tbody class="field_space">
                      <%= exhibition_builder.simple_fields_for :spaces, @space do |space_builder| %>
                                <td><%=space_builder.input :name, label: false %></td>
                                <td><%=space_builder.input :location, label: false %></td>
                                <%= space_builder.simple_fields_for :contacts do |contact_builder| %>
                                  <% if contact_builder.object.category == "phone" or contact_builder.object.category == "website" %>
                                    <td>
                                      <%= contact_builder.hidden_field :category, value: contact_builder.object.category %>
                                      <%= contact_builder.input :content, label: false %>
                                    </td>
                                  <% end %>
                                <% end %>
                          </tbody>
                        </table> 
                        <table class='table'>
                          <thead>
                            <tr>
                              <th>SNS ::Contact</th>
                              <th>종류 :category</th>
                              <th>내용 :content</th>
                            </tr>
                          </thead>
                          <tbody class="field_contacts">
                                <%= space_builder.simple_fields_for :contacts do |contact_builder| %>
                                  <% if contact_builder.object.category != "phone" and contact_builder.object.category != "website"%>
                                    <%= render 'contact', f: contact_builder %>
                                  <% end %>
                                <% end %>
                          </tbody>
                        </table>
                                  <%= link_to_add_row('Add Contact', space_builder, :contacts, class: 'btn btn-primary', label: "field_contacts") %>
          <% end %>
        <% end %>

    
              </div>
            </div>
            
            <div class="panel panel-success">
              <div class="panel-heading">
                <h5>4단계: 작품정보입력 :: Artwork</h5>
              </div>
              <div class="panel-body">
                <div class="form_artworks">
                  <%= catalogue_builder.simple_fields_for :artworks do |artwork_builder| %>
                    <%= render 'artwork', f: artwork_builder %>
                  <% end %>
                </div>
                <%#= link_to_add_form('Add Artwork', catalogue_builder, :artworks, class: 'btn btn-primary', label: "form_artworks") %>
                <%= link_to_add_row_nested('Add Artwork', catalogue_builder, :artworks, buildhelper: "builder_artwork", class: 'btn btn-primary', label: 'form_artworks') %>
              </div>

            </div>



  
  
  
  
  

  <div class="form-actions">
    <br><br><%= catalogue_builder.button :submit, "save" %>
  </div>
<% end %>


