<%= simple_form_for (setup_catalogue(@catalogue)) do |f| %>
<%#=javascript_tag do %>
  <!--alert("<%#=setup_artist(@artist).class%>");-->
<%# end %>

  <%= render 'layouts/error_messages', object: f.object %>  


  <div class="field" col="3">
    <%= f.label :title, "도록 제목" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description, "도록 설명" %><br>
    <%= f.text_area :description %>
  </div>
  
  
  <table class='table'>
    <h4>1단계: 전시정보입력 :: Exhibition</h4>
    <thead>
      <tr>
        <th>전시제목 :title</th>
        <th>전시종류 :category</th>
        <th>전시시작 :start_date</th>
        <th>전시종료 :end_date</th>
      </tr>
    </thead>
    <tbody class="field_history_academics">
      <%= f.simple_fields_for :exhibitions do |builder| %>
        <%= render 'exhibition', f: builder %>
      <% end %>
    </tbody>
  </table>

  <div class="form-actions">
    <br><br><%= f.button :submit, "save" %>
  </div>
<% end %>


