<tr class="row">
    <td>
        <%= f.input_field :_destroy, as: :hidden %>
        <%= link_to '#', class: "remove_record" do %>
            <%= content_tag(:span, "", class: "glyphicon glyphicon-remove") %>
        <% end %>
    </td>
    <td class="m-l-ld col-lg-2 col-md-2">
        <%= f.input :start_date, label: false, as: :date, order: [:year], discard_day: true, end_year: 1910, start_year: Time.now.year + 10, prompt: '시작연도', input_html: { class: 'form-control' }%>

        <%#= link_to 'toggle_detail_date', '#', class: 'toggle_date_fields'%>

        <% if f.object.end_date? %>
            <div id="hidden_field"%>
                ~<%= f.input :end_date, label: false, as: :date, order: [:year], discard_day: true, end_year: 1910, start_year: Time.now.year + 10, prompt: '종료년도', input_html: { class: 'form-control' } %>
            </div>
        <% else %>
            <div id="hidden_field" class="hidden"%>
                ~<%= f.input :end_date, label: false, as: :date, order: [:year], discard_day: true, end_year: 1910, start_year: Time.now.year + 10, prompt: '종료년도', input_html: { class: 'form-control' } %>
            </div>
        <% end %>
        <%= link_to '종료년도?', '#', class: 'toggle_hidden_fields'%>
        
    </td>
    <td class="col-lg-6 col-md-6"><%= f.text_field :detail, label: false, class: 'form-control', placeholder: '내용' %></td>
    <td class="col-lg-3 col-md-3"><%= f.text_field :title, label: false, class: 'form-control', placeholder: '기관명'  %></td>
</tr>
<%= f.input_field :category, as: :hidden, value: 'award'%>
