<div class="wrapper wrapper-content animated fadeInRight">
<h2>웹 도록 보기</h2>
<div class="row">
  <div class="col-md-12 p-md">
    <p class="text-info">총 <%=@catalogues.size%>개의 웹 도록이 있습니다.</p>

    <div class="row p-h-md">
      
      <%@catalogues.each do |catalogue|%>
        <div class="col-md-4 col-lg-3 m-b-lg">
          <div class="white-bg p-h-xs catalog border-top clearfix">
            <div class="col-md-5 catalog-cover m-t-xs">
              <figure class="text-center">
                <%=image_tag catalogue.artworks.present? ? catalogue.artworks.first.image.url(:thumb) : "http://placehold.it/90x120", class: 'thumbnail_img'%>
                <figcaption class="hidden"><%=catalogue.title%></figcaption>
              </figure>
            </div>
            <div class="col-md-7 catalog-text p-xs">
              <p class="text-primary"><%=truncate(catalogue.title, length: 11)%></p>
              <span class="text-muted"><%=catalogue.exhibitions.first.start_date.strftime("%y.%m.%d")%> - <%=catalogue.exhibitions.first.end_date.strftime("%y.%m.%d")%></span><br>
              <span class="text-muted"><%=catalogue.exhibitions.first.spaces.first.name%></span><br>
              <span class="text-muted">총 <%=catalogue.artworks.size%>작품</span><br>
              <div class="m-t pull-right">
                <%= link_to content_tag(:span, "", class: "fa fa-folder-o")+"보기", catalogue, class: "btn btn-xs btn-outline btn-primary" %>
                <%= link_to content_tag(:span, "", class: "fa fa-pencil-square-o")+"수정", edit_catalogue_path(catalogue), class: "btn btn-xs btn-outline btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>