<p id="notice"><%= notice %></p>

<p>
    <strong>Artsit:</strong>
    <%=@catalogue.artists.inspect%>
</p>

<p>
    <strong>Exhibition:</strong>
    <%=@catalogue.exhibitions.inspect%>
</p>


<p>
    <strong>Artworks: </strong>
    <%=h(@catalogue.artworks.inspect.to_s).gsub(" #","<br>").html_safe%>
</p>



<p>
  <strong>Title:</strong>
  <%= @catalogue.title %>
</p>

<p>
  <strong>Description::</strong>
  <%= @catalogue.description %>
</p>
<%= link_to 'Edit', edit_catalogue_path(@catalogue) %> |
<%= link_to 'Back', catalogues_path %>
