<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-3">
          <div class="ibox float-e-margins">
            <div class="ibox-title bg-success">
              <h5>반갑습니다, <%=current_user.email%> 님</h5>
            </div>
            <div class="ibox-content">
              <p class="text-center m-t"><span class="fa fa-users fa-3"></span></p>
              <p class="text-center">웹 도록의 베타 버전입니다.</p>
              <p>현재 <%=User.all.size%>명의 사용자가 베타 버전의 테스트에 참여하고 있습니다.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>전시중인 웹 전시 정보</h5>
            </div>
            <% if @exhibitions_current.present?%>
              <div class="ibox-content">
                <small>현재 진행중인 전시의 웹 전시 정보입니다.</small>
                <span class="pull-right glyphicon glyphicon-triangle-bottom" id="toggle_more_exhibition"></span>
                
                <script>
                $( "#toggle_more_exhibition" ).click(function() {
                  $( ".toggle_more_hidden" ).toggle( "slow" );
                });
                </script> 
                
                <% exhibition_num = 0 %>
                <% @exhibitions_current.each do |exhibition| %>
                  <% exhibition_num+=1 %>
                  <% if exhibition_num>1 %><ul class="list-group clear-list m-t toggle_more_hidden" style="display: none;">
                  <% else %><ul class="list-group clear-list m-t"><% end %>
                    <h4 class="text-center"><%=exhibition.title%></h4>
                    <li class="list-group-item">
                      <span class="col-md-offset-1">현재 도록 열람 수</span>
                      <span class="col-md-offset-4">
                        120회
                      </span>
                    </li>
                    <li class="list-group-item">
                      <span class="col-md-offset-1">남은 전시 기간</span>
                      <span class="col-md-offset-4">
                        <%= (exhibition.end_date-Date.today).to_i %>일
                      </span>
                    </li>
                  </ul>
                <% end %>                
              </div>
            <% else %>
              <div class="ibox-content">
                <p class="text-center">현재 진행중인 전시 웹 도록이 없습니다.</p>
                <div class="text-center">
                  <a href="/catalogues" data-turbolinks="false"><button type="button" class="btn btn-outline btn-default">웹도록 목록</button></a>
                  <a href="/catalogues/new" data-turbolinks="false"><button type="button" class="btn btn-outline btn-default">웹도록 만들기</button></a>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="ibox float-e-margins">
            <div class="ibox-title  bg-info">
              <h5>공지사항</h5>
            </div>
            <div class="ibox-content">
              <small>팀루브르에서 알립니다.</small>
              <ul class="list-group clear-list m-t">
                <li class="list-group-item">
                  <span class="col-md-offset-1">작품 모아보기 기능을 추가했습니다.</span>
                </li>
                <li class="list-group-item">
                  <span class="col-md-offset-1">작품 모아보기 기능을 추가했습니다.</span>
                </li>
                <li class="list-group-item">
                  <span class="col-md-offset-1">웹 도록 베타 버전을 오픈합니다.</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="wrapper wrapper-content">
          <div class="row">
            <div class="col-lg-4">
              <div class="ibox catalog-list">
                <div class="ibox-title">
                  <h5>웹 도록 목록 <span class="badge badge-info"><%=@catalogues.size%></span></h5>
                </div>
                <div class="ibox-content clearfix">
                  <% if @catalogues.present? %>
                    <% @catalogues.last(3).each do |catalogue| %>
                      <div class="col-md-12 p-h-xs border-bottom catalog">
                        <div class="catalog-cover">
                          <figure>
                            <%=image_tag catalogue.artworks.present? ? catalogue.artworks.first.image.url(:thumb) : "http://placehold.it/90x120", size: '80x100'%>
                            <figcaption class="hidden">&lt;<%=catalogue.title%>&gt;</figcaption>
                          </figure>
                        </div>
                        <div class="catalog-text">
                          <strong class="text-primary">&lt;<%=catalogue.title%>&gt;</strong><br>
                          <%=catalogue.exhibitions.first.start_date.strftime("%y.%m.%d")%> - <%=catalogue.exhibitions.first.end_date.strftime("%y.%m.%d")%><br>
                          <%=catalogue.exhibitions.first.spaces.present? ? catalogue.exhibitions.first.spaces.first.name : ""%><br>
                          총 <%=catalogue.artworks.size%>작품<br>
                          <%= link_to content_tag(:span, "", class: "fa fa-folder-o")+"보기", catalogue, class: "btn btn-xs btn-outline btn-primary" %>
                          <%= link_to content_tag(:span, "", class: "fa fa-pencil-square-o")+"수정", edit_catalogue_path(catalogue), class: "btn btn-xs btn-outline btn-primary" %>
                          <%= link_to "Remove", catalogue, method: :delete, data: { confirm: "Are you sure?" } %>
                        </div>
                      </div>
                    <% end %>
                  <% else %>
                    <p class="text-center">현재 웹 도록이 없습니다.</p>
                  <% end %>
                  <div class="col-md-12">
                    <div class="pull-right p-h-xs">
                      <a href="/catalogues" data-turbolinks="false"><button type="button" class="btn btn-outline btn-default">더보기</button></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="ibox float-e-margins">
                <div class="ibox-title">
                  <h5>작품 목록 <span class="badge badge-warning"><%= @artworks? @artworks.size : '0'%></span></h5>
                </div>
                <div class="ibox-content">
                  <ul class="list-unstyled list-inline clearfix">
                    <% if @artworks.present? %> 
                      <% @artworks.last(6).each do |artwork| %>
                        <li class="m-t col-md-6" style="height: 130px;">
                          <figure class="text-center">
                            <%=image_tag artwork.image.url(:thumb), size: "80x100", alt: "" %>
                            <figcaption><%=artwork.title%></figcaption>
                          </figure>
                        </li>
                      <% end %>
                    <% else %>
                      <p class="text-center">현재 작품이 없습니다.</p>
                    <% end %>
                    <div class="col-md-12">
                      <div class="pull-right p-h-xs">
                        <a href="/artworks" data-turbolinks="false"><button type="button" class="btn btn-outline btn-default">더보기</button></a>
                      </div>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="ibox float-e-margins">
                <div class="ibox-title">
                  <h5>작가 정보</h5>
                </div>
                <div class="ibox-content">
                  <% if @artist.present? %>
                    <div>
                      <h3 class="m-b">전시 경력</h3>
                      <p><strong>개인전</strong></p>
                      <ul>
                        <% @artist.exhibitions.where("exhibitions.category = ?", "single").each do |exhibition|%>
                          <li><p><%=exhibition.start_date.strftime("%Y")%> <%=exhibition.title %>, <%exhibition.spaces.all.each do |space|%> <%=space.name %> <%end %></p></li>
                        <% end %>
                      </ul>
                      <p><strong>그룹전</strong></p>
                      <ul>
                        <% @artist.exhibitions.where("exhibitions.category = ?", "group").each do |exhibition|%>
                          <li><p><%=exhibition.start_date.strftime("%Y")%> <%=exhibition.title %>, <%exhibition.spaces.all.each do |space|%> <%=space.name %> <%end %></p></li>
                        <% end %>
                      </ul>
                      <hr>
                    </div>
                    <div>
                      <h3 class="m-b">학력</h3>
                      <ul>
                        <% @artist.histories.where("histories.category = ?", "academic").each do |history|%>
                          <li><p><%=history.start_date.strftime("%Y")%> <%=history.title%>, <%=history.detail %>, <%=history.status%></p></li>
                        <% end %>
                      </ul>
                    </div>
                    <div>
                      <h3 class="m-b">수상 레지던시</h3>
                      <ul>
                        <% @artist.histories.where("histories.category = ?", "award").each do |history|%>
                          <li><p><%=history.start_date.strftime("%Y")%> <%=history.title%>, <%=history.detail%></p></li>
                        <% end %>
                      </ul>
                    </div>                    
                  <% else%>
                    <div class="row">
                      <div class="col-lg-12 col-md-12">
                        <p class="text-center">  
                          현재 등록된 아티스트가 없습니다.
                        </p>
                        <hr>
                        <p class="text-right"><%= link_to "+ 아티스트 등록하기", new_artist_path %></p>
                      </div>
                    </div>
                  <% end%>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

