<%= simple_form_for @artwork, html: {class: "artwork_group_form"} do |f| %>
  <% if @artwork.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artwork.errors.count, "error") %> prohibited this artwork from being saved:</h2>
      <ul>
      <% @artwork.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" col="3">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.text_area :photo %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </div>
  <div class="field">
    <%= f.input :size, as: :array %>
    <button class="add-size-button">Add additional size</button>
  </div>
  <div class="field">
    <%= f.label :unit %><br>
    <%= f.text_area :unit %>
  </div>
  <div class="field">
    <%= f.label :material %><br>
    <%= f.text_area :material %>
  </div>
  <div class="field">
    <%= f.label :created_date %><br>
    <%= select_date Date.today, prefix: :created_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  $('.add-size-button').click(function(ev){
    ev.preventDefault()
    $lastSizeField = $('input[name="artwork[size][]"]:last-of-type').clone()
    $lastSizeField.val("")
    $(".input.artwork_size").append($lastSizeField)
  })
</script>